body {
	padding: 1.5em;
}
h1, ul {
	padding: 0;
	margin: 0 0.4em;
	float: left;
	list-style: none;
}
div {
	height: 150px;
	clear: both;
}
th {
	background: #333;
	color: white;
}
td, th {
	padding: 0.4em;
	border: thin solid silver;
}
